@import 'styles/theme';

.user-edit-page {
  &.container {
    width: 800px;
    height: 600px;

    background: #FFFFFF;
    border-radius: 40px;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  &.username-field {
    box-sizing: border-box;

    font-family: 'Quicksand', sans-serif;
    /* Auto layout */
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px;
    gap: 10px;

    position: absolute;
    width: 500px;
    height: 60px;
    left: 150px;
    top: 150px;

    background: rgba(0, 0, 0, 0.05);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(30px);
    /* Note: backdrop-filter has minimal browser support */
    border-radius: 40px;
  }

  &.username-label {
    position: absolute;
    width: 364px;
    height: 38px;
    left: 70px;
    top: -75px;

    font-family: 'Quicksand', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 25px;
    line-height: 38px;
    /* identical to box height */
    text-align: center;

    color: #000000;

  }

  &.username-input {
    height: 60px;
    width: 500px;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 30px;
    margin-left: 10px;
    border: none;
    margin-bottom: 20px;
    color: black;
    background: rgba(0, 0, 0, 0.05);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(30px);
    /* Note: backdrop-filter has minimal browser support */
    border-radius: 40px;
    position: absolute;
    top: 0px;
    left: -10px;
    font-size: 25px;
    line-height: 50px;
  }

  &.password-field {
    box-sizing: border-box;

    font-family: 'Quicksand', sans-serif;

    /* Auto layout */
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px;
    gap: 10px;

    position: absolute;
    width: 500px;
    height: 60px;
    left: 150px;
    top: 350px;

    background: rgba(0, 0, 0, 0.05);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(30px);
    /* Note: backdrop-filter has minimal browser support */
    border-radius: 40px;
  }


  &.password-label {
    position: absolute;
    width: 364px;
    height: 38px;
    left: 70px;
    top: -75px;

    font-family: 'Quicksand', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 25px;
    line-height: 38px;
    /* identical to box height */
    text-align: center;

    color: #000000;

  }


  &.password-input {
    height: 60px;
    width: 500px;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 30px;
    margin-left: 10px;
    border: none;
    margin-bottom: 20px;
    color: black;
    background: rgba(0, 0, 0, 0.05);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(30px);
    /* Note: backdrop-filter has minimal browser support */
    border-radius: 40px;
    position: absolute;
    top: 0px;
    left: -10px;
    font-size: 25px;
    line-height: 50px;
  }


  &.back-button-text {
    width: 71px;
    height: 38px;

    font-family: 'Quicksand', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 38px;
    /* identical to box height */
    text-align: center;

    color: #000000;


    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
  }


  &.save-button-text {
    width: 71px;
    height: 38px;

    font-family: 'Quicksand', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 38px;
    /* identical to box height */
    text-align: center;

    color: #000000;


    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
  }
}