
.guessing {
  position: relative;
  &.rounds {
    position: absolute;
    //width: 151px;
    //height: 38px;
    left: 12.5vw;
    top: 8vh;

    font-family: 'Quicksand', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 1.75vw;
    //line-height: 38px;
    /* identical to box height */
    text-align: center;

    color: #FFFFFF;

  }

  &.drop-out-alert-div {
    position: absolute;
    left:50vw;
    transform: translateX(-50%);
    top: 10vh;

  }

  &.drop-out-alert-message {
    font-family: 'Quicksand', sans-serif;
    border-radius: 4vw;
  }

  &.last-10-seconds {
    animation: blink 1s infinite;

    @keyframes blink {
      0% {
        color: #fff;
      }
      50% {
        color: #ef0808;
      }
      100% {
        color: #fff;
      }
    }
  }

  &.role-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    //padding: 10px;
    //gap: 10px;

    position: absolute;
    width: 18vw;
    height: 6vh;
    left: 45vw;
    top: 7vh;

    background: rgba(255, 255, 255, 0.3);
    border-radius: 40px;
  }

  &.role-text {
    //width: 240px;
    //height: 38px;

    font-family: 'Quicksand', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 1.75vw;
    //line-height: 38px;
    /* identical to box height */
    text-align: center;

    color: #FFFFFF;


    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
  }

  &.container {
    box-sizing: border-box;

    position: absolute;
    width: 27.6vw;
    height: 93vh;
    left: 70vw;
    top: 3.75vh;

    background: rgba(255, 255, 255, 0.43);
    border: 3px solid #FFFFFF;
    border-radius: 40px;
  }

  &.container-guesses {
    //box-sizing: border-box;

    position: absolute;
    width: 27.6vw;
    height: 70vh;
    left: 25px;
    top: 25vh;

    //background: rgba(255, 255, 255, 0.43);
    //border: 3px solid #FFFFFF;
    //border-radius: 40px;
  }



  &.header-container {
    position: absolute;
    width: 27.6vw;
    height: 14vh;
    left: -0.18vw;
    top: 0;

    background: #FFFFFF;
    border-radius: 40px;
  }

  &.header {
    position: absolute;
    //width: 119px;
    //height: 38px;
    left: 10.5vw;
    top: 4.75vh;

    font-family: 'Quicksand', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 1.75vw;
    //line-height: 38px;
    /* identical to box height */
    text-align: center;

    color: #000000;

  }

  &.time-left {
    position: absolute;
    left: 355px;
    top: 78px;

    font-family: 'Quicksand', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 38px;
    text-align: center;

    color: #FFFFFF;
  }

  &.hint-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    //padding: 10px;
    //gap: 10px;

    position: absolute;
    width: 23.25vw;
    height: 7vh;
    left: 2.25vw;
    top: 16vh;

    background: rgba(255, 255, 255, 0.26);
    border-radius: 40px;
  }

  &.hint-text {
    //width: 331px;
    //height: 38px;

    font-family: 'Quicksand', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 1.75vw;
    //line-height: 38px;
    /* identical to box height */
    text-align: center;

    color: black;


    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
  }

  &.field {
    //box-sizing: border-box;

    /* Auto layout */
    //display: flex;
    //flex-direction: row;
    //align-items: center;
    //padding: 10px;
    //gap: 10px;

    //position: absolute;
    //width: 290px;
    //height: 60px;
    left: 2.1vw;
    top: 82.5vh;

    //background: rgba(255, 255, 255, 0.62);
    //box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    //backdrop-filter: blur(30px);
    /* Note: backdrop-filter has minimal browser support */
    //border-radius: 40px;
  }

  &.input {
    height: 6.25vh;
    width: 16vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 25px;
    margin-left: 10px;
    border: none;
    margin-bottom: 20px;
    color: black;
    background: rgba(255, 255, 255, 0.65);
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(30px);
    /* Note: backdrop-filter has minimal browser support */
    border-radius: 40px;
    position: absolute;
    top: 0;
    left: -0.5vw;
    font-size: 1.5vw;
    //line-height: 50px;

    font-family: 'Quicksand', sans-serif;
  }

  &.send-button-text {
    //width: 73px;
    //height: 63px;

    font-family: 'Quicksand', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 1.5vw;
    //line-height: 63px;
    /* identical to box height */
    text-align: center;

    color: #FFFFFF;


    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
  }

  &.color-text {                            //TODO Text is sometimes behind the map
    //width: 331px;
    //height: 38px;

    position: absolute;
    top: 88vh;
    left: 14vw;
    font-family: 'Quicksand', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 1.75vw;
    //line-height: 38px;
    /* identical to box height */
    text-align: center;

    color: white;

    /* Inside auto layout */
    //flex: none;
    //order: 0;
    //flex-grow: 0;
  }

  &.time-text {
    width: 331px;
    //height: 38px;

    position: absolute;
    top: 8vh;
    left: 23.5vw;
    font-family: 'Quicksand', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 1.75vw;
    //line-height: 38px;
    /* identical to box height */
    text-align: center;

    color: white;


    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
  }

  &.streetview-container {
    top: 20vh;
    height: 35vw;
    border: 3px solid #FFFFFF;
    border-radius: 40px;
    left: 15.5vw;
    width: 35vw;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
  }

  &.guess-list {
    display: flex;
    flex-direction: column;
    columns: 1;
    list-style: none;
    position: absolute;
    top: 30%;
    left: 30%;
  }
}



.guessers {
  &.wrong-container {

    //display: flex;
    //flex-direction: row;
    //align-items: center;
    //padding: 10px;
    //gap: 10px;
    margin-bottom: 50px; /* Add margin-bottom to create gap between containers */

    position: relative;
    width: 22vw;
    height: 6.5vh;
    left: 0.6vw;
    top: 3vh;

    background: rgba(214, 24, 47, 0.26);
    border-radius: 40px;
  }

  &.correct-container {
    margin-bottom: 50px; /* Add margin-bottom to create gap between containers */

    position: relative;
    width: 22vw;
    height: 6.5vh;
    left: 0.6vw;
    top: 3.5vh;

    background: rgba(24, 214, 43, 0.26);
    border-radius: 40px;
  }

  &.name {

    position: absolute;
    left: 1.5vw;
    top: -3vh;

    font-family: 'Quicksand', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 1.15vw;
    //line-height: 25px;
    /* identical to box height */
    text-align: center;

    color: #FF72B6;

  }

  &.wrong-guess {
    //width: 67px;
    //height: 25px;

    position: absolute;
    left: 1.5vw;
    top: 1.6vh;

    font-family: 'Quicksand', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 1.25vw;
    //line-height: 25px;
    /* identical to box height */


    color: #000000;


    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
  }

  &.correct-guess {
    //width: 200px;
    //height: 25px;

    font-family: 'Quicksand', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 1.25vw;
    //line-height: 25px;
    /* identical to box height */
    text-align: center;

    color: #000000;


    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
    position: absolute;
    left: 6.25vw;
    top: 1.8vh;
  }

}