
.guessing {
  position: relative;
  &.rounds {
    position: absolute;
    width: 151px;
    height: 38px;
    left: 70px;
    top: 77px;

    font-family: 'Gill Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 38px;
    /* identical to box height */
    text-align: center;

    color: #FFFFFF;

  }

  &.role-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px;
    gap: 10px;

    position: absolute;
    width: 260px;
    height: 58px;
    left: 623px;
    top: 67px;

    background: rgba(255, 255, 255, 0.3);
    border-radius: 40px;
  }

  &.role-text {
    width: 240px;
    height: 38px;

    font-family: 'Gill Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 38px;
    /* identical to box height */
    text-align: center;

    color: #FFFFFF;


    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
  }

  &.container {
    box-sizing: border-box;

    position: absolute;
    width: 477px;
    height: 875px;
    left: 939px;
    top: 34px;

    background: rgba(255, 255, 255, 0.43);
    border: 3px solid #FFFFFF;
    border-radius: 40px;
  }

  &.container-guesses {
    //box-sizing: border-box;

    position: absolute;
    width: 420px;
    height: 540px;
    left: 25px;
    top: 225px;

    //background: rgba(255, 255, 255, 0.43);
    //border: 3px solid #FFFFFF;
    //border-radius: 40px;
  }



  &.header-container {
    position: absolute;
    width: 477px;
    height: 124px;
    left: -3px;
    top: 0px;

    background: #FFFFFF;
    border-radius: 40px;
  }

  &.header {
    position: absolute;
    width: 119px;
    height: 38px;
    left: 180px;
    top: 45px;

    font-family: 'Gill Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 38px;
    /* identical to box height */
    text-align: center;

    color: #000000;

  }

  &.time-left {
    position: absolute;
    left: 355px;
    top: 78px;

    font-family: 'Gill Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 38px;
    text-align: center;

    color: #FFFFFF;
  }

  &.hint-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px;
    gap: 10px;

    position: absolute;
    width: 402px;
    height: 62px;
    left: 38px;
    top: 150px;

    background: rgba(255, 255, 255, 0.26);
    border-radius: 40px;
  }

  &.hint-text {
    width: 331px;
    height: 38px;

    font-family: 'Gill Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 38px;
    /* identical to box height */
    text-align: center;

    color: black;


    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
  }

  &.field {
    box-sizing: border-box;

    /* Auto layout */
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px;
    gap: 10px;

    position: absolute;
    width: 290px;
    height: 60px;
    left: 35px;
    top: 775px;

    background: rgba(255, 255, 255, 0.62);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(30px);
    /* Note: backdrop-filter has minimal browser support */
    border-radius: 40px;
  }

  &.input {
    height: 60px;
    width: 290px;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 30px;
    margin-left: 10px;
    border: none;
    margin-bottom: 20px;
    color: black;
    background: rgba(0, 0, 0, 0.05);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(30px);
    /* Note: backdrop-filter has minimal browser support */
    border-radius: 40px;
    position: absolute;
    top: 0px;
    left: -10px;
    font-size: 25px;
    line-height: 50px;

    font-family: 'Gill Sans';
  }

  &.send-button-text {
    width: 73px;
    height: 63px;

    font-family: 'Mulish';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 63px;
    /* identical to box height */
    text-align: center;

    color: #FFFFFF;


    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
  }

  &.color-text {
    width: 331px;
    height: 38px;

    position: absolute;
    top: 825px;
    left: 275px;
    font-family: 'Gill Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 38px;
    /* identical to box height */
    text-align: center;

    color: white;


    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
  }

  &.guess-list {
    display: flex;
    flex-direction: column;
    columns: 1;
    list-style: none;
    position: absolute;
    top: 30%;
    left: 30%;
  }
}



.guessers {
  &.wrong-container {

    //display: flex;
    //flex-direction: row;
    //align-items: center;
    //padding: 10px;
    //gap: 10px;
    margin-bottom: 50px; /* Add margin-bottom to create gap between containers */

    position: relative;
    width: 402px;
    height: 61px;
    left: 5px;
    top: 30px;

    background: rgba(214, 24, 47, 0.26);
    border-radius: 40px;
  }

  &.correct-container {
    margin-bottom: 50px; /* Add margin-bottom to create gap between containers */

    position: relative;
    width: 402px;
    height: 61px;
    left: 5px;
    top: 35px;

    background: rgba(24, 214, 43, 0.26);
    border-radius: 40px;
  }

  &.name {

    position: absolute;
    left: 30px;
    top: -25px;

    font-family: 'Gill Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 25px;
    /* identical to box height */
    text-align: center;

    color: #FF72B6;

  }

  &.wrong-guess {
    width: 67px;
    height: 25px;

    position: absolute;
    left: 13px;
    top: 16px;

    font-family: 'Gill Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 25px;
    /* identical to box height */
    text-align: center;

    color: #000000;


    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
  }

  &.correct-guess {
    width: 200px;
    height: 25px;

    font-family: 'Gill Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 25px;
    /* identical to box height */
    text-align: center;

    color: #000000;


    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
    position: absolute;
    left: 100px;
    top: 16px;
  }

}