@import 'styles/theme';

.leaderboards {
  &.alert-message {
    margin:auto;

  }
}

.leaderboard-page {

  &.alert-div {
    z-index:10 !important;

    margin:auto;
    position: absolute;
    top: 80vh;
    left: 33vw;
    color: #FFFFFF;

  }

  &.alert-message {
    margin:auto;
    font-family: 'Quicksand', sans-serif;
    border-radius: 4vw;
  }

  &.header {

    margin:auto;

    position: relative;
    top: 7vh;

    font-family: 'Quicksand', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 4vw;
    line-height: 9vh;
    text-align: center;

    color: #FFFFFF;

    text-shadow: 0 0.2vw 0.2vw rgba(0, 0, 0, 0.25);
  }

  &.navigation-bar {
    position: absolute;
    width: 100vw;

    background: linear-gradient(180deg, #97E1D4 0%, rgba(151, 225, 212, 0.27) 100%);
  }

  &.ranking-text {
    font-family: 'Quicksand', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 1.5vw;
    /* identical to box height */
    text-align: center;

    color: #000000;


    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
  }

  &.profile-text {

    font-family: 'Quicksand', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 1.5vw;
    /* identical to box height */
    text-align: center;

    color: #000000;


    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
  }

  &.logout-text {

    font-family: 'Quicksand', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 1.5vw;
    /* identical to box height */
    text-align: center;

    color: #000000;


    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
  }

}

.leaderboard-highscore {
  &.container {
    box-sizing: border-box;

    width: 40vw;
    height: 78vh;

    position: absolute;
    left: 27vw;
    top: 57vh;
    transform: translate(-50%, -50%);


    background: #FFFFFF;
    border-radius: 2vw;
  }

  &.header {
    position: relative;
    top: 1.5vh;

    font-family: 'Quicksand', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 1.9vw;
    line-height: 8vh;
    text-align: center;

    color: #A7AEF9;


    text-shadow: 0 0.1vw 0.1vw rgba(0, 0, 0, 0.25);
  }

  &.container-players {
    position: relative;
    top: 1.5vh;
  }
}

.leaderboard-gamesWon {
  &.container {
    box-sizing: border-box;

    width: 40vw;
    height: 78vh;

    position: absolute;
    left: 72vw;
    top: 57vh;
    transform: translate(-50%, -50%); // TODO is this ok


    background: #FFFFFF;
    border-radius: 2vw;
  }

  &.header {
    position: relative;
    top: 1.5vh;

    font-family: 'Quicksand', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 1.9vw;
    line-height: 8vh;
    text-align: center;

    color: #A7AEF9;


    text-shadow: 0 0.1vw 0.1vw rgba(0, 0, 0, 0.25);
  }

  &.container-players {
    position: relative;
    top: 1.5vh;
  }
}

.player {
  &.container {
    margin-bottom: 0.7vh; /* Add margin-bottom to create gap between containers */

    position: relative;
    width: 35.5vw;
    height: 5.5vh;
    left: 2vw;

    background: rgba(151, 225, 212, 0.35);
    border-radius: 40vw;

  }

  &.ranking {
    position: absolute;
    top: 1vh;
    left: 2.3vw;
    font-family: 'Quicksand', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 1.5vw;
    /* identical to box height */

    color: #000000;
  }

  &.name {
    position: absolute;
    top: 0.9vh;
    left: 13vw;

    font-family: 'Quicksand', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 2.5vh;
    /* identical to box height */
    text-align: left;

    color: #000000;

  }

  &.points {
    position: absolute;
    top: 1vh;
    left: 28vw;

    font-family: 'Quicksand', sans-serif;
    font-style: italic;
    font-weight: 500;
    font-size: 2.5vh;
    /* identical to box height */

    color: #000000;
  }

  &.profile-picture {
    border-radius: 50%;
    position: absolute;
    top: 0.5vh;
    left: 7.5vw;
    height: 4.7vh;
  }
}

.leader {

  &.container {
    margin-bottom: 0.7vh; /* Add margin-bottom to create gap between containers */

    position: relative;
    width: 35.5vw;
    height: 6vh;
    left: 2vw;

    background: linear-gradient(180deg, rgba(5, 57, 48, 0.2) 0%, rgba(0, 0, 0, 0) 100%), #A8F3E5;
    border-radius: 40vw;
  }

  &.ranking {
    position: absolute;
    top: 1vh;
    left: 2.3vw;
    font-family: 'Quicksand', sans-serif;
    font-style: normal;
    font-weight: 1000;
    font-size: 1.8vw;
    /* identical to box height */

    color: #000000;
  }

  &.profile-picture {
    position: absolute;
    top: 0.5vh;
    left: 7.5vw;
    height: 5vh;

    border-radius: 50%;
  }

  &.name {
    position: absolute;
    top: 0.7vh;
    left: 13vw;

    font-family: 'Quicksand', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 3.2vh;

    color: #000000;
  }

  &.points {
    position: absolute;
    top: 0.7vh;
    left: 28vw;

    font-family: 'Quicksand', sans-serif;
    font-style: italic;
    font-weight: 600;
    font-size: 3.2vh;
    text-align: center;

    color: #000000;
  }

}

.ranking-header-row {
  &.container {
    margin-bottom: 0.8vh; /* Add margin-bottom to create gap between containers */

    position: relative;
    width: 35.5vw;
    height: 4vh;
    left: 2vw;
    top: 1.7vh;

    background: rgba(151, 225, 212, 0.35);
    border-radius: 40vw;

  }

  &.username {
    position: absolute;
    top: 0.7vh;
    left: 13vw;

    font-family: 'Quicksand', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 1.9vh;
    /* identical to box height */
    text-align: center;

    color: #8cd3c5;

  }

  &.text {
    position: absolute;
    top: 0.7vh;
    left: 26vw;

    font-family: 'Quicksand', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 1.9vh;
    /* identical to box height */
    text-align: center;

    color: #8cd3c5;

  }
}
