@import 'styles/theme';

.lobby {
  &.success-message{
  color: white;
  position: absolute;
  top: 7vh;
  left: 0;
  margin-top: 1vh;
  margin-left: 3.5vh;
  font-family: 'Quicksand', sans-serif;

  }
  &.rounds-box {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    //padding: 10px;
    //gap: 10px;

    position: absolute;
    width: 13vw;
    height: 8vh;
    left: 86vw;
    top: 2vh;

    background: rgba(255, 255, 255, 0.37);
    border-radius: 40px;
  }

  &.rounds-text {
    //width: 184px;
    //height: 50px;

    font-family: 'Quicksand', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 2vw;
    //line-height: 50px;
    text-align: center;

    color: #FFFFFF;


    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
  }

  &.button-text {

    //width: 271px;
    //height: 63px;

    font-family: 'Quicksand', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 3vw;
    //line-height: 63px;
    /* identical to box height */
    text-align: center;

    color: #FFFFFF;


    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
  }

  &.player {
    position: absolute;
    width: 122px;
    height: 180px;
    left: 250px;
    top: 0px;
  }

  ul {
    columns: 2;
  }

  &.profile-picture {
    position: absolute;
    width: 7vw;
    height: 7vw;
    left: 742px;
    top: 554px;

    //TODO background: url(heart-aesthetic-profile-xpanduyanw9zla6p.jpg);
  }

  &.lobby-text {

    position: absolute;
    //width: 292px;
    //height: 126px;
    left: 50vw;
    transform: translateX(-50%);
    top: 15vh;

    font-family: 'Quicksand', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 5vw;
    //line-height: 126px;
    /* identical to box height */
    //text-align: center;

    color: #FFFFFF;

  }

  &.lobby-code {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    //padding: 10px;
    //gap: 10px;

    position: absolute;
    width: 15vw;
    height: 8vh;
    left: 50vw;
    transform: translateX(-50%);
    top: 2vh;

    background: rgba(255, 255, 255, 0.37);
    border-radius: 40px;
  }

  &.lobby-code-text {
    //width: 269px;
    //height: 50px;
    position: relative;


    font-family: 'Quicksand', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 2vw;
    //line-height: 50px;
    text-align: center;

    color: #FFFFFF;

    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
  }

  &.player-amount-container {

    position: absolute;
    width: 7vw;
    height: 7vw;
    left: 89vw;
    top: 18vh;
    border-radius: 100px;

    background: rgba(255, 255, 255, 0.46);
  }


  &.player-name {
    font-family: 'Quicksand', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 1.75vw;
    /* identical to box height */
    text-align: center;
    color: #FFFFFF;

  }

  &.player-list {
    columns: 3;
    list-style: none;
    position: absolute;
    top: 30vh;
    left: 22vw;
  }

  &.player-container {
    margin-bottom: 10em;
    margin-right: 4vw;
  }

  &.player-amount-text {
    position: absolute;
    //width: 84px;
    //height: 50px;
    left: 1.1vw;
    top: 3.6vh;

    font-family: 'Quicksand', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 2.5vw;
    //line-height: 50px;
    text-align: center;

    color: #FFFFFF;

  }


}