
.roundover {
  &.container {
    position: absolute;
    width: 1000px;
    height: 830px;
    left: 375px;
    top: 50px;

    background: rgba(255, 255, 255, 0.5);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 40px;
  }

  &.primary-button {
    width: 30%;
    position: absolute;
    left: 610px;
    top: 725px;
  }

  &.button-text {

    width: 271px;
    height: 63px;

    font-family: 'Gill Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 50px;
    line-height: 63px;
    /* identical to box height */
    text-align: center;

    color: #FFFFFF;


    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
  }

  &.header {
    position: absolute;
    width: 622px;
    height: 88px;
    left: 185px;
    top: 50px;

    font-family: 'Gill Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 70px;
    line-height: 88px;
    /* identical to box height */
    text-align: center;

    color: #97E1D4;
  }

  &.solution {
    position: absolute;
    width: 538px;
    height: 63px;
    left: 235px;
    top: 145px;

    font-family: 'Gill Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 50px;
    line-height: 63px;
    /* identical to box height */
    text-align: center;

    color: #97E1D4;

  }

  &.leaderboard-text {
    position: absolute;
    width: 184px;
    height: 38px;
    left: 405px;
    top: 250px;

    font-family: 'Gill Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 38px;
    /* identical to box height */
    text-align: center;

    color: black;

  }

  &.time-left {
    position: absolute;
    left: 900px;
    top: 75px;


    font-family: 'Mulish';
    font-style: normal;
    font-weight: 500;
    font-size: 50px;
    line-height: 63px;
    /* identical to box height */
    text-align: center;

    color: #FFFFFF;

  }
}

.score {
  &.name-1st {
    position: absolute;
    width: 113px;
    height: 38px;
    left: 435px;
    top: 450px;

    font-family: 'Gill Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 38px;
    /* identical to box height */
    text-align: center;

    color: #000000;
    opacity: 0;
    animation: fade-in 1s ease-in-out forwards 3s;



  }

  &.points-1st {
    position: absolute;
    width: 60px;
    height: 63px;
    left: 465px;
    top: 525px;

    font-family: 'Gill Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 50px;
    line-height: 63px;
    /* identical to box height */
    text-align: center;

    color: #FFFFFF;

    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    opacity: 0;
    animation: fade-in 1s ease-in-out forwards 3s;
  }

  &.profile-picture-1st {
    width: 7em;
    height: 7em;
    border-radius: 50%;
    border: 2px solid #97E1D4FF;
    //background-image: url('./../../images/RedPanda.png');
    //background-position: center;
    background-size: cover;
    position: absolute;
    left: 438px;
    top: 325px;

    //FADE-IN
    //opacity: 0; /* start with 0 opacity */
    //animation: fade-in-bounce 1s ease-in-out forwards;

    //SPIN
    //animation: spin 3s linear infinite; /* rotate continuously */

    //BOUNCE
    opacity: 0; /* bounce continuously */
    animation: fade-in-bounce 1.5s ease-in-out forwards infinite alternate 3s;

    //GLITCH
    //animation: glitch 2s ease-in-out infinite; /* glitch continuously */
  }

  @keyframes fade-in {
    from {
      opacity: 0; /* start with 0 opacity */
    }
    to {
      opacity: 1; /* end with full opacity */
    }
  }

  @keyframes spin {
    0% {
      transform: rotate(0deg); /* starting rotation */
    }
    100% {
      transform: rotate(360deg); /* end rotation */
    }
  }

  @keyframes fade-in-bounce {
    0% {
      opacity: 0;
      transform: translateY(0);
    }
    50% {
      opacity: 1;
      transform: translateY(-20px);
    }
    100% {
      opacity: 1;
      transform: translateY(0px);
    }
  }

  @keyframes glitch {
    0% {
      transform: translateX(0) skew(0); /* starting position */
    }
    20% {
      transform: translateX(10px) skew(5deg); /* first glitch */
    }
    40% {
      transform: translateX(-10px) skew(-5deg); /* second glitch */
    }
    60% {
      transform: translateX(10px) skew(5deg); /* third glitch */
    }
    80% {
      transform: translateX(-10px) skew(-5deg); /* fourth glitch */
    }
    100% {
      transform: translateX(0) skew(0); /* end position */
    }
  }

  &.name-2nd {
    position: absolute;
    width: 113px;
    height: 38px;
    left: 300px;
    top: 475px;

    font-family: 'Gill Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 38px;
    /* identical to box height */
    text-align: center;

    color: #000000;
    opacity: 0;
    animation: fade-in 1s ease-in-out forwards 2s;

  }

  &.points-2nd {
    position: absolute;
    width: 48px;
    height: 50px;
    left: 333px;
    top: 550px;

    font-family: "Gill Sans";
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    line-height: 50px;
    text-align: center;

    color: #FFFFFF;

    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    opacity: 0;
    animation: fade-in 1s ease-in-out forwards 2s;
  }

  &.profile-picture-2nd {
    width: 7em;
    height: 7em;
    border-radius: 50%;
    border: 2px solid #97E1D4FF;
    //background-image: url('./../../images/RedPanda.png');
    //background-position: center;
    background-size: cover;
    position: absolute;
    left: 300px;
    top: 350px;
    opacity: 0; /* start with 0 opacity */
    animation: fade-in 1s ease-in-out forwards 2s;

  }

  &.name-3rd {
    position: absolute;
    width: 113px;
    height: 38px;
    left: 570px;
    top: 475px;

    font-family: 'Gill Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 38px;
    /* identical to box height */
    text-align: center;

    color: #000000;
    animation: fade-in 1s ease-in-out forwards 1s;
    opacity: 0;

  }

  &.points-3rd {
    position: absolute;
    width: 48px;
    height: 50px;
    left: 605px;
    top: 550px;

    font-family: 'Gill Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    line-height: 50px;
    text-align: center;

    color: #FFFFFF;

    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    opacity: 0;
    animation: fade-in 1s ease-in-out forwards 1s;
  }

  &.profile-picture-3rd {
    width: 7em;
    height: 7em;
    border-radius: 50%;
    border: 2px solid #97E1D4FF;
    //background-image: url('./../../images/RedPanda.png');
    //background-position: center;
    background-size: cover;
    position: absolute;
    left: 575px;
    top: 350px;
    opacity: 0;
    animation: fade-in 1s ease-in-out forwards 1s;
  }
}