@import 'styles/theme';

.rounds {

  &.alert-div {
    position: absolute;
    left:50vw;
    transform: translateX(-50%);
    top: 10vh;
  }

  &.alert-message {
    font-family: 'Quicksand', sans-serif;
    border-radius: 4vw;
  }

  &.container {
  margin-top: 4em;
  min-height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  }
  &.form {
  display: flex;
  z-index: 1;
  flex-direction: column;
  justify-content: center;
  width: 60vw;
  //max-width: 100%;
  height: 80vh;
  //font-size: 4vw;
  //font-weight: 600;
  //font-family: "Quicksand", sans-serif;
  padding-right: 1%;
  padding-left: 2%;
  //border-radius: 1.5em;
  }

  &.field {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &.field select option {
    background-color: rgba(128, 128, 128, 0.2); /* Set the desired grey color and opacity value */
    }

    &.input {
      height: 13vh; /* Adjust the height as needed */
      display: flex;
      flex-direction: row;
      align-items: center;
      padding: 2vw 2vw; /* Adjust the padding as needed */
      margin: 1vw;
      border: none;
      color: rgba(0, 0, 0, 0.7);
      background: rgba(0, 0, 0, 0.05);
      box-shadow: 0.1em 0.1em 0.2em rgba(0, 0, 0, 0.25);
      backdrop-filter: blur(3vw);
      /* Note: backdrop-filter has minimal browser support */
      border-radius: 40px;
      font-size: 2vw;
      color: white;
      font-family: "Quicksand", sans-serif;/* Adjust the font size as needed */

    }

  &.ok-button-text {
   //width: 73px;
   //height: 63px;
   font-family: 'Quicksand', sans-serif;
   font-style: normal;
   font-weight: 600;
   font-size: 3vw;
   //line-height: 63px;
   text-align: center;
   color: #FFFFFF;
   //flex: none;
   //order: 0;
   //flex-grow: 0;
  }

  &.header {
  //width: 100%;
  //height: auto;
  font-family: 'Quicksand', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 2.5vw;
  //line-height: 1.2;
  text-align: center;
  color: #FFFFFF;
  margin-bottom: 20px;
  margin-top: 20px;

  }
}