@import 'styles/theme';

.rounds {
  &.container {
  margin-top: 4em;
  min-height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  }
  &.form {
  display: flex;
  z-index: 1;
  flex-direction: column;
  justify-content: center;
  width: 75%;
  max-width: 100%;
  height: 28em;
  font-size: 1.25em;
  font-weight: 600;
  font-family: "Gill Sans";
  padding-right: 2%;
  padding-left: 2%;
  border-radius: 1.5em;
  }

  &.field {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

    &.input {
      height: 11vh; /* Adjust the height as needed */
      display: flex;
      flex-direction: row;
      align-items: center;
      padding: 2vw 4vw; /* Adjust the padding as needed */
      margin: 1vw;
      border: none;
      color: rgba(0, 0, 0, 0.7);
      background: rgba(0, 0, 0, 0.05);
      box-shadow: 0.1em 0.1em 0.2em rgba(0, 0, 0, 0.25);
      backdrop-filter: blur(3vw);
      /* Note: backdrop-filter has minimal browser support */
      border-radius: 4vw;
      font-size: 2vw;
      color: white;
      font-family: "Gill Sans";/* Adjust the font size as needed */

    }

  &.ok-button-text {
   width: 73px;
   height: 63px;
   font-family: 'Gill Sans';
   font-style: normal;
   font-weight: 600;
   font-size: 50px;
   line-height: 63px;
   text-align: center;
   color: #FFFFFF;
   flex: none;
   order: 0;
   flex-grow: 0;
  }

  &.header {
  width: 100%;
  height: auto;
  font-family: 'Gill Sans';
  font-style: normal;
  font-weight: 600;
  font-size: 2em;
  line-height: 1.2;
  text-align: center;
  color: #FFFFFF;

  }
}