.setlocation {

  &.alert-div {
    position: absolute;
    left:35vw;
    transform: translateX(-50%);
    top: 80vh;
    z-index: 100;

    color: #FFFFFF;
  }

  &.alert-message {
    font-family: 'Quicksand', sans-serif;
    border-radius: 4vw;
  }

  &.start-button-text {
    //width: 98px;
    //height: 50px;
    font-family: 'Quicksand', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 2vw;
    //line-height: 50px;
    text-align: center;
    color: #FFFFFF;
    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
  }
  &.color-field {
    font-family: "Quicksand", sans-serif;
    box-sizing: border-box;
    /* Auto layout */
    display: flex;
    flex-direction: row;
    align-items: center;
    //padding: 10px;
    //gap: 10px;
    position: absolute;
    //width: 484px;
    //height: 70px;
    //left: 900px;
    //top: 300px;
    background: rgba(0, 0, 0, 0.05);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(30px);
    /* Note: backdrop-filter has minimal browser support */
    border-radius: 40px;
  }
  &.color-input {
    height: 8vh;
    width: 27.5vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 30px;
    margin-left: 10px;
    border: none;
    //margin-bottom: 20px;
    color: white;
    background: rgba(0, 0, 0, 0.05);
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(30px);
    /* Note: backdrop-filter has minimal browser support */
    border-radius: 40px;
    position: absolute;
    top: -14vh;
    left: 53.5vw;
    font-size: 1.75vw;
    //line-height: 50px;
  }
  &.color-label {
    position: absolute;
    width: 30vw;
    left: 53vw;
    top: -21vh;
    font-family: 'Quicksand', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 2.25vw;
    //line-height: 75px;
    text-align: center;
    color: #FFFFFF;
  }
  &.object-field {
    font-family: "Quicksand", sans-serif;
    box-sizing: border-box;
    /* Auto layout */
    display: flex;
    flex-direction: row;
    align-items: center;
    //padding: 10px;
    //gap: 10px;
    position: absolute;
    //width: 484px;
    //height: 70px;
    //left: 900px;
    //top: 300px;
    background: rgba(0, 0, 0, 0.05);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(30px);
    /* Note: backdrop-filter has minimal browser support */
    border-radius: 40px;
  }
  &.object-input {
    height: 8vh;
    width: 27.5vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 30px;
    margin-left: 10px;
    border: none;
    //margin-bottom: 20px;
    color: white;
    background: rgba(0, 0, 0, 0.05);
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(30px);
    /* Note: backdrop-filter has minimal browser support */
    border-radius: 40px;
    position: absolute;
    top: -37vh;
    left: 53.5vw;
    font-size: 1.75vw;
    //line-height: 50px;
  }
  &.object-label {
    position: absolute;
    width: 20vw;
    left: 57.5vw;
    top: -44vh;
    font-family: 'Quicksand', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 2.25vw;
    //line-height: 75px;
    text-align: center;
    color: #FFFFFF;
  }
  &.role-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    //padding: 10px;
    //gap: 10px;
    position: absolute;
    width: 15vw;
    height: 8vh;
    left: 60vw;
    top: 3vh;
    background: rgba(255, 255, 255, 0.3);
    border-radius: 40px;
  }
  &.role-text {
    //width: 15vw;
    //height: 38px;
    font-family: 'Quicksand', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 1.75vw;
    //line-height: 38px;
    /* identical to box height */
    text-align: center;
    color: #FFFFFF;
    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
  }

  &.rounds-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    //padding: 10px;
    //gap: 10px;
    position: absolute;
    width: 12vw;
    height: 8vh;
    left: 87vw;
    top: 3vh;
    background: rgba(255, 255, 255, 0.3);
    border-radius: 40px;
  }
  &.rounds {
    //width: 15vw;
    //height: 38px;
    font-family: 'Quicksand', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 1.75vw;
    //line-height: 38px;
    /* identical to box height */
    text-align: center;
    color: #FFFFFF;
    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
  }
  #setlocation-map{
    height: 2%;
    top: 500px;
    margin: 0;
    padding: 0;
    z-index: 20;
  }
  &.readytext{
  font-family: 'Quicksand', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 2vw;
  //line-height: 25px;
  position: absolute;
  //width: 69px;
  //height: 25px;
  left: 64vw;
  top: 67vh;
  z-index: 20;
  /* identical to box height */

  text-align: center;

  color: #FFFFFF;
  }
  &.container{
  top: 20vh;
  height: 35vw;
  border: 3px solid #FFFFFF;
  border-radius: 40px;
  left: 9vw;
  width: 35vw;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;

  }
  &.header {
    position: absolute;
    //width: 699px;
    //height: 38px;
    left: 6.5vw;
    top: 11vh;
    font-family: 'Quicksand', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 1.75vw;
    //line-height: 38px;
    /* identical to box height */
    text-align: center;
    color: #FFFFFF;

  }
}