@import 'styles/theme';

::-webkit-scrollbar {
  z-index: 1;
}
body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

#home {
  position: relative;
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  background-image: url("https://i.ibb.co/0qhKtGp/4248613.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-color: rgba(255, 192, 203, 0.5);
  }
#home::before {
  content: "";
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    z-index:0;
    background-color: pink;
    opacity: 0.5;
}


.start-page {

  &.container{
    position: relative;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &.background{
    backgroundImage: url("https://i.ibb.co/0qhKtGp/4248613.jpg");
    background-size: cover;
    background-position: center;
    z-index:20;

  }


  &.nose {
    position: absolute;
    width: 2%;
    height: 100%;
    left: 48%;
    top: 35%;
    font-family: "Quicksand", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 3.1vw;
    line-height: 1.2em;
    text-align: center;
    z-index: 101;
    color: #ffffff;
  }


  &.game-title {
  position: absolute;
  z-index:101;
  width: 50%;
  height: 100%;
  left: 24%;
  top: 20%;

  font-family: 'Quicksand', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 3.1em;
  line-height: 1.2em;
  text-align: center;

  color: #FFFFFF;

  }

  &.instructions-container {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
  height: 127%;
  left: 0;
  right: 0;
  margin: 0 5%;
  top: 80%;
  padding: 2em;
  background: rgba(255, 255, 255, 0.46);
  border-radius: 4em;
  }

  &.introduction-text {
    position: absolute;
    width: 80%;
    height: 30%;
    left: 10%;
    top: 10%;

    font-family: 'Quicksand', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 1.5em;
    line-height: 1.5em;
    text-align: center;

    color: #000000;

  }

  &.header-rules {
    position: absolute;
    width: 100%;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    font-family: 'Quicksand', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 2em;
    margin-bottom: 1em;
    color: #000000;

  }

  &.rules-text {
    position: absolute;
    width: 80%;
    height: 30%;
    left: 10%;
    top: 63%;

    font-family: 'Quicksand', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 1.5em;
    line-height: 2em;
    text-align: center;

    color: #000000;


  }

  &.login-button-text {
    width: 146px;
    height: 63px;

    font-family: 'Quicksand', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 50px;
    line-height: 63px;
    /* identical to box height */
    text-align: center;

    color: #000000;


    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
  }

  &.signup-button-text {
    width: 182px;
    height: 63px;

    font-family: 'Quicksand', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 50px;
    line-height: 63px;
    /* identical to box height */
    text-align: center;

    color: #000000;


    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
  }

  &.eye-left {
  position: absolute;
  left: 38%;
  top: 33%;
  z-index: 101;

  }

  &.eye-right {
  position: absolute;
  left: 55%;
  top: 33%;
  z-index: 101;

  }
}