@import 'styles/theme';
body {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100%;
}
#home {
  position: relative;
  height: 1250px;
  width: 1600px;
  min-height: 900px;
  background-image: url("https://i.ibb.co/0qhKtGp/4248613.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-color: rgba(255, 192, 203, 0.5);
  }

#home::before {
  content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: pink;
    opacity: 0.5;
}

.start-page {

  &.background{
    backgroundImage: url("https://i.ibb.co/0qhKtGp/4248613.jpg");
    background-size: cover;
    background-position: center;
    z-index:20;

  }
  &.nose {
    position: absolute;
    width: 41.12px;
    height: 93.59px;
    left: 850px;
    top: 221.09px;

    font-family: 'Quicksand', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 50px;
    line-height: 63px;
    text-align: center;

    color: #FFFFFF;
  }
  &.image{
    margin-top: 10px;
    margin-left: auto;
    margin-right: 10px;
    z-index:20;

  }

  &.game-title {
    position: absolute;
    width: 647.4px;
    height: 93.59px;
    left: 550px;
    top: 164.5px;

    font-family: 'Quicksand', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 50px;
    line-height: 63px;
    text-align: center;

    color: #FFFFFF;

  }

  &.instructions-container {
    position: absolute;
    width: 1384px;
    height: 650px;
    left: 175px;
    top: 550px;

    background: rgba(255, 255, 255, 0.46);
    border-radius: 40px;
  }

  &.introduction-text {
    position: absolute;
    width: 1158px;
    height: 268px;
    left: 110px;
    top: 70px;

    font-family: 'Quicksand', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 38px;
    text-align: center;

    color: #000000;

  }

  &.header-rules {

    position: absolute;
    width: 97px;
    height: 38px;
    left: 625px;
    top: 350px;

    font-family: 'Quicksand', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 38px;
    /* identical to box height */
    text-align: center;

    color: #000000;

  }

  &.rules-text {
    position: absolute;
    width: 1296px;
    height: 288px;
    left: 40px;
    top: 400px;

    font-family: 'Quicksand', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 38px;
    text-align: center;

    color: #000000;

  }

  &.login-button-text {
    width: 146px;
    height: 63px;

    font-family: 'Quicksand', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 50px;
    line-height: 63px;
    /* identical to box height */
    text-align: center;

    color: #000000;


    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
  }

  &.signup-button-text {
    width: 182px;
    height: 63px;

    font-family: 'Quicksand', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 50px;
    line-height: 63px;
    /* identical to box height */
    text-align: center;

    color: #000000;


    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
  }

  &.eye-left {
    position: absolute;
    left: 710px;
    top: 215px;

  }

  &.eye-right {
    position: absolute;
    left: 950px;
    top: 215px;

  }
}