@import 'styles/theme';

::-webkit-scrollbar {
  z-index: 1;
}
body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

#home {
  position: relative;
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  background-image: url("https://i.ibb.co/0qhKtGp/4248613.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-color: rgba(255, 192, 203, 0.5);
  }
#home::before {
  content: "";
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    z-index:0;
    background-color: pink;
    opacity: 0.5;
}


.start-page {

  &.container{
    position: relative;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &.background{
    backgroundImage: url("https://i.ibb.co/0qhKtGp/4248613.jpg");
    background-size: cover;
    background-position: center;
    z-index:20;

  }


  &.nose {
    position: absolute;
    width: 2vw;
    //height: 100%;
    left: 49.2vw;
    top: 35vh;
    font-family: "Quicksand", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 2vw;
    line-height: 1.2em;
    text-align: center;
    z-index: 101;
    color: #ffffff;
  }


  &.game-title {
  position: absolute;
  z-index:101;
  width: 35vw;
  //height: 30vh;
  left: 33vw;
  top: 20vh;

  font-family: 'Quicksand', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 3vw;
  line-height: 1.2em;
  text-align: center;

  color: #FFFFFF;

  }

  &.instructions-container {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 85vw;
  height: 80vh;
  left: 3vw;
  top:80vh;
  margin-left: 5%;
    margin-bottom: 7%;
  background: rgba(255, 255, 255, 0.46);
  border-radius: 4em;
  }

  &.introduction-text {
    position: absolute;
    display: inline-block;

    width: 70vw;
    //height: 30%;
    left: 7.5vw;
    top: 15vh;

    font-family: 'Quicksand', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 2.8vmin;
    line-height: 1.5em;
    text-align: justify;

    color: #000000;

  }
  &.header-intro {
    position: absolute;
    width: 70vw;
    top: 10vh;
    left: 7vw;
    transform: translateY(-50%);
    text-align: center;
    font-family: 'Quicksand', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 3.3vmin;
    //margin-bottom: 1em;
    color: #000000;

  }

  &.header-rules {
    position: absolute;
    width: 100vw;
    top: 39vh;
    left: -7.5vw;
    transform: translateY(-50%);
    text-align: center;
    font-family: 'Quicksand', sans-serif;
    font-style: normal;
    font-size: 3.8vmin;
    font-weight: 600;
    //margin-bottom: 1em;
    color: #000000;
    padding-top: 9vmin;
    padding-bottom: 5vmin;

  }

  &.rules-text {
    position: absolute;
    width: 70vw;
    //height: 30vh;
    left: 7.5vw;
    top: 46vh;

    font-family: 'Quicksand', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 2.8vmin;
    line-height: 1.5em;
    text-align: justify;

    color: #000000;

  }

  &.browser-info {
    position: absolute;
    width: 70vw;
    //height: 30vh;
    left: 7.5vw;
    top: 70vh;

    font-family: 'Quicksand', sans-serif;
    font-style: oblique;
    font-weight: 500;
    font-size: 2.8vmin;
    line-height: 1.5em;
    text-align: justify;

    color: #000000;

  }

  &.login-button-text {
    //width: 20vw;
    //height: 63px;

    font-family: 'Quicksand', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 3vw;
    line-height: 63px;
    /* identical to box height */
    text-align: center;

    color: #000000;


    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
  }

  &.signup-button-text {
    width: 35vw;
    //height: 63px;

    font-family: 'Quicksand', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 3vw;
    line-height: 63px;
    /* identical to box height */
    text-align: center;

    color: #000000;


    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
  }

  &.eye-left {
  position: absolute;
  left: 40.5vw;
  top: 33vh;
  z-index: 101;

  }

  &.eye-right {
  position: absolute;
  left: 55vw;
  top: 33vh;
  z-index: 101;

  }

  &.credits{
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 85vw;
    height: 5vh;
    left: 3vw;
    top:165vh;
    margin-left: 5%;
    margin-bottom: 10%;

    font-family: 'Quicksand', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 1vw;
    line-height: 1.5em;
    text-align: justify;

    color: #000000;
  }
}