@import 'styles/theme';

.userPage {

  &.alert-div {

    position: absolute;
    top: -10vh;
    left: 6vw;
    color: #FFFFFF;

  }

  &.alert-message {

    font-family: 'Quicksand', sans-serif;
    border-radius: 4vw;
  }

  &.container {
    width: 46vw;
    height: 64vh;
    background: #FFFFFF;
    border-radius: 40px;
    position: absolute;
    top: 50vh;
    left: 50vw;
    transform: translate(-50%, -50%);
  }
  /*&.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 60%;
    max-width: 30em;
    height: 20em;
    font-size: 16px;
    font-weight: 300;
    padding-left: 37px;
    padding-right: 37px;
    border-radius: 0.75em;
    background-color: $background;
    transition: opacity 0.5s ease, transform 0.5s ease;
    box-shadow: $dropShadow;
  }*/
  &.field {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  &.input {
    height: 35px;
    padding-left: 15px;
    margin-left: -4px;
    border: none;
    border-radius: 0.75em;
    margin-bottom: 20px;
    background: transparentize(white, 0.85);
    color: $textColor;
  }
  &.label {
    color: $textColor;
    margin-bottom: 10px;
    text-transform: lowercase;
    font-weight: 300;
  }
  &.button-container {
    display: flex;
    justify-content: center;
    margin-top: 2em;
  }
  &.attribute{
    margin-bottom: 8px;
  }

  &.edit-button-text {

    //width: 10vw;
    //height: 38px;

    font-family: 'Quicksand', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 1.75vw;
    //line-height: 38px;
    /* identical to box height */
    text-align: center;

    color: #000000;


    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
  }

  &.profile-picture-background {
    position: absolute;
    width: 46vw;
    height: 15vh;

    //background: url('./../../images/RedPanda.png');
    border-radius: 40px 40px 0px 0px;
    opacity: 0.75;
  }

  &.profile-picture {
    width: 6.5vw;
    height: 6.5vw;
    border-radius: 50%;
    border: 2px solid #97E1D4FF;
    filter: drop-shadow(0 0 8px #FF72B6FF);
    //background-image: url('./../../images/RedPanda.png');
    //background-position: center;
    background-size: cover;
    position: absolute;
    top: 8.5vh;
    left: 19.5vw;
  }

  &.username-container {
    //box-sizing: border-box;

    /* Auto layout */
    display: flex;
    //flex-direction: row;
    justify-content: center;
    align-items: center;
    //padding: 10px;
    //gap: 10px;

    position: absolute;
    width: 23vw;
    height: 5.25vh;
    left: 11.25vw;
    top: 23.3vh;

    background: rgba(0, 0, 0, 0.05);
    //box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(30px);
    /* Note: backdrop-filter has minimal browser support */
    border-radius: 40px;
  }

  &.username-text {
    //width:  20vw;
    //height: 38px;

    font-family: 'Quicksand', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 1.5vw;
    //line-height: 38px;
    /* identical to box height */
    text-align: center;

    color: #000000;


    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
  }

  &.score-container {
    box-sizing: border-box;

    /* Auto layout */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    //padding: 10px;
    //gap: 10px;

    position: absolute;
    width: 23vw;
    height: 5.25vh;
    left: 11.25vw;
    top: 29.75vh;

    background: rgba(0, 0, 0, 0.05);
    //box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(30px);
    /* Note: backdrop-filter has minimal browser support */
    border-radius: 40px;
  }

  &.score {
    //width: 147px;
    //height: 38px;

    font-family: 'Quicksand', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 1.5vw;
    //line-height: 38px;
    /* identical to box height */
    text-align: center;

    color: #000000;


    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
  }

  &.games-played-container {
    box-sizing: border-box;

    /* Auto layout */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    //padding: 10px;
    //gap: 10px;

    position: absolute;
    width: 23vw;
    height: 5.25vh;
    left: 11.25vw;
    top: 36.25vh;

    background: rgba(0, 0, 0, 0.05);
    //box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(30px);
    /* Note: backdrop-filter has minimal browser support */
    border-radius: 40px;
  }

  &.games-played-text {
    //width: 251px;
    //height: 38px;

    font-family: 'Quicksand', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 1.5vw;
    //line-height: 38px;
    /* identical to box height */
    text-align: center;

    color: #000000;


    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
  }

  &.games-won-container {
    box-sizing: border-box;

    /* Auto layout */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px;
    gap: 10px;

    position: absolute;
    width: 23vw;
    height: 5.25vh;
    left: 11.25vw;
    top: 42.5vh;

    background: rgba(0, 0, 0, 0.05);
    //box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(30px);
    /* Note: backdrop-filter has minimal browser support */
    border-radius: 40px;
  }

  &.games-won-text {

    font-family: 'Quicksand', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 1.5vw;
    /* identical to box height */
    text-align: center;

    color: #000000;


    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
  }

}