
.waitingroom {

  &.alert-div {
    position: absolute;
    top: 80vh;
    left: 35vw;
    color: #FFFFFF;
  }

  &.alert-message {
    font-family: 'Quicksand', sans-serif;
    border-radius: 4vw;
  }

  &.header {
    position: absolute;
    width: 30vh;
    height: 30vh;
    left: 32vw;
    right: 35vw;
    top: 15vh;

    font-family: 'Quicksand', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 7vw;
    line-height: 2vw;
    /* identical to box height */
    text-align: center;

    color: #FFFFFF;
  }

  &.information {
    position: absolute;
    left: 20vw;
    right: 20vw;
    top: 35vh;

    font-family: 'Quicksand', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 1.75vw;

    /* identical to box height */
    text-align: center;

    color: #FFFFFF;
  }
  &.image-container{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30vw;
  width: 30vw;
  background-color: #f5f5f5;
  z-index:100;
  }


}