@import 'styles/theme';

.base-container {
  &.ellipse3 {
    //position: absolute;
    width: 100%;
    height: 100%;
    //max-width: 140em;
    //left: -406px;
    //top: -245px;

    background: conic-gradient(from 180deg at 46.83% 71%, #A7AEF9 0deg, #DAA3EF 0.57deg, #DDCCF8 114.38deg, #F5C9C9 225deg, #CEBBFA 326.25deg, #A7AEF9 360deg);
  }
  &.picture {
    //position: absolute;
    width: 100%;
    height: 100%;
    background-image: url("https://i.ibb.co/0qhKtGp/4248613.jpg");
    z-index: 20;

    //max-width: 140em;
    //left: -406px;
    //top: -245px;

    background: conic-gradient(from 180deg at 46.83% 71%, #A7AEF9 0deg, #DAA3EF 0.57deg, #DDCCF8 114.38deg, #F5C9C9 225deg, #CEBBFA 326.25deg, #A7AEF9 360deg);
  }
  &.ellipse2 {
    position: absolute;
    width: 100%;
    height: 100%;
    //left: -273px;
    //top: -186px;

    background: conic-gradient(from 180deg at 46.83% 71%, #A7AEF9 0deg, #DAA3EF 90deg, #DDCCF8 180deg, #F5C9C9 270deg, #A7AEF9 360deg);
  }

  &.ellipse4 {
    position: absolute;
    width: 100%;
    height: 100%;
    left: -205px;
    //top: 110px;

    background: conic-gradient(from 206.11deg at 50% 50%, #FF72B6 0deg, #F5C9D9 139.75deg, #97E1D4 213.17deg, #8359E3 268.94deg, #FF72B6 360deg);
    filter: blur(125px);
  }

  //not sure if ellipse 1 needed
  &.ellipse1 {
    position: absolute;
    width: 100%;
    height: 100%;
    //left: 787px;
    //top: -114px;

    background: #A7AEF9;
    filter: blur(100px);
  }
}