@import 'styles/theme';

.primary-button {
  &:hover {
    transform: translateY(-4px); //TODO fix this
  }
  box-sizing: border-box;

  /* Auto layout */
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  //padding: 10px;
  //gap: 10px;

  position: absolute;
  width: 25vw;
  height: 10vh;
  left: 38vw;
  //transform: translateX(-50%);
  top: 85vh;

  background: #97E1D4;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(30px);
  /* Note: backdrop-filter has minimal browser support */
  border-radius: 40px;
  border: none;
  //z-index: 10;
}
.icon-button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  position: absolute;
  left: 14vw;
  top: 2.6vh;
}
.join-lobby-button {
  &:hover {
    transform: translateY(-4px);
  }
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 2vw;
  gap: 2vw;

  position: absolute;
  width: 20vw;
  height: 15vw;
  right: 40vw;
  top: 12vw;

  background: #97E1D4;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(2px);
  /* Note: backdrop-filter has minimal browser support */
  border-radius: 40px;
  border: none;
}

.create-lobby-button {
  &:hover {
    transform: translateY(-4px);
  }
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 2vw;
  gap: 2vw;

  position: absolute;
  width: 20vw;
  height: 15vw;
  right: 40vw;
  top: 30vw;
  background: #97E1D4;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(2px);
  /* Note: backdrop-filter has minimal browser support */
  border-radius: 40px;
  border: none;
}

.ranking-button {
  &:hover {
    transform: translateY(-4px);
  }
  display: flex;
  right: 17vw;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px;
  gap: 10px;

  position: absolute;
  width: 7vw;
  height: 3vw;
  top: 1vw;

  background: #FFFFFF;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 40px;
  border: none;
  z-index: 100;

}

.profile-button {

  &:hover {
    transform: translateY(-4px);
  }
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px;
  gap: 10px;
  right: 9vw;

  position: absolute;
  width: 7vw;
  height: 3vw;
  top: 1vw;

  background: #FFFFFF;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 40px;
  border: none;

  z-index: 100;
}

.login-button {
  box-sizing: border-box;

  /* Auto layout */
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px;
  gap: 10px;

  position: absolute;
  width: 430px;
  height: 112px;
  left: 169px;
  top: 362px;

  background: #97E1D4;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(30px);
  /* Note: backdrop-filter has minimal browser support */
  border-radius: 40px;
  border: none;
}

.logout-button {

  &:hover {
    transform: translateY(-4px);
  }
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px;
  gap: 10px;
  right: 1vw;

  position: absolute;
  width: 7vw;
  height: 3vw;
  top: 1vw;

  background: #FFFFFF;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 40px;
  border: none;

  z-index: 100;

}

.login-button-start-page {
  box-sizing: border-box;

  &:hover {
    transform: translateY(-4px);
  }

  /* Auto layout */
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  //padding: 1em;
 // gap: 1em;

  position: absolute;
  width: 26vw;
  max-width: 26vw;
  height: 13vh;
  left: 19.5vw;
  top: 50vh;

  background: #97E1D4;
  box-shadow: 1em 1em 1em rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(2em);
  /* Note: backdrop-filter has minimal browser support */
  border-radius: 40px;
  border: none;
  z-index: 999;
}
.login-button-loginpage{

  &:hover {
    transform: translateY(-4px);
  }

  &:disabled {
    cursor: default;
    opacity: 0.1;
    &:hover {
      transform: none;
    }
  }
  font-family: "Mulish";
  background-color: transparent;
  font-style: normal;
  font-weight: 700;
  font-size: 50px;
  line-height: 63px;
  text-align: center;
  flex-grow: 0;
  border: none;
  align-self: stretch;



}
.register-button-registerpage{
  &.disabled {
    cursor: default;
    opacity: 0.4;
    &:hover {
      transform: none;
    }
  }
  font-family: "Mulish";
  background-color: transparent;
  font-style: normal;
  font-weight: 700;
  font-size: 50px;
  line-height: 63px;
  text-align: center;
  flex: none;
  order: 0;
  flex-grow:0;
  border: none;

}

.signup-button-start-page {
  box-sizing: border-box;

  &:hover {
    transform: translateY(-4px);
  }

  /* Auto layout */
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  //padding: 1em;
  //gap: 1em;

  position: absolute;
  width: 26vw;
  max-width: 26vw;
  height: 13vh;
  left: 55vw;
  top: 50vh;

  background: #97E1D4;
  box-shadow: 1em 1em 1em rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(2em);
  /* Note: backdrop-filter has minimal browser support */
  border-radius: 40px;
  border: none;
  z-index:999;
}

.ok-button {
  &:hover {
    transform: translateY(-4px);
  }

  box-sizing: border-box;

  /* Auto layout */
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  //padding: 10px;
  //gap: 10px;

  position: absolute;
  left: 43vw;
  top: 80vh;


  width: 15vw;
  height: 10vh;

  background: #97E1D4;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(30px);
  /* Note: backdrop-filter has minimal browser support */
  border-radius: 40px;
  border: none;
}


// TODO not being used
.leaderboard-back-button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px;
  gap: 10px;

  position: absolute;
  width: 287px;
  height: 82px;
  left: 42%;
  top: 50%;

  background: #97E1D4;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(30px);
  /* Note: backdrop-filter has minimal browser support */
  border-radius: 40px;
  border: none;

}

.edit-button {
  &:disabled {
    cursor: default;
    opacity: 0.1;
  }

  &:enabled:hover {
    transform: translateY(-4px);
  }

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  //padding: 10px;
  //gap: 10px;

  position: absolute;
  width: 8vw;
  height: 6vh;
  left: 19vw;
  top: 53vh;

  background: #97E1D4;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(30px);
  /* Note: backdrop-filter has minimal browser support */
  border-radius: 40px;
  border: none;
}

.userPage-back-button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px;
  gap: 10px;

  position: absolute;
  width: 150px;
  height: 50px;
  left: 445px;
  top: 500px;

  background: #97E1D4;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(30px);
  /* Note: backdrop-filter has minimal browser support */
  border-radius: 40px;
  border: none;
}

.edit-page-back-button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px;
  gap: 10px;

  position: absolute;
  width: 150px;
  height: 50px;
  left: 500px;
  top: 475px;

  background: #97E1D4;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(30px);
  /* Note: backdrop-filter has minimal browser support */
  border-radius: 40px;
  border: none;
}

.edit-page-save-button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px;
  gap: 10px;

  position: absolute;
  width: 150px;
  height: 50px;
  left: 148px;
  top: 475px;

  background: #97E1D4;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(30px);
  /* Note: backdrop-filter has minimal browser support */
  border-radius: 40px;
  border: none;
}

.start-button {
  &:hover {
    transform: translateY(-4px);
  }
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  //padding: 10px;
  //gap: 10px;

  position: absolute;
  width: 10vw;
  height: 8vh;
  left: 62.5vw;
  top: 75vh;

  background: #97E1D4;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(2px);
  /* Note: backdrop-filter has minimal browser support */
  border-radius: 40px;
  border: none;
}

.gameover-ok-button {
  box-sizing: border-box;

  /* Auto layout */
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px;
  gap: 10px;

  position: absolute;
  width: 200px;
  height: 60px;
  left: 390px;
  top: 620px;

  background: #97E1D4;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(30px);
  /* Note: backdrop-filter has minimal browser support */
  border-radius: 40px;
  border: none;
}

.game-end-button {
  width: 30%;
  position: absolute;
  left: 600px;
  top: 700px;
}
.game-send-button {
  box-sizing: border-box;

  &:hover {
    transform: translateY(-4px);
  }

  /* Auto layout */
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px;
  gap: 10px;

  position: absolute;
  width: 100px;
  height: 60px;
  left: 340px;
  top: 775px;

  background: #97E1D4;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(30px);
  /* Note: backdrop-filter has minimal browser support */
  border-radius: 40px;
  border: none;
}



